Welcome

<br><br>
<%=link_to "Add new Batch",batches_createbatch_path, remote: true%>
<br>
<%=link_to "Add Subjects",addnormalsubject_path, remote: true%>
<br>
<%=link_to "Create Elective Group",createelectivegroup_path, remote: true%>
<br>
<%=link_to "Add Elective Subjects",addelectivesubject_path, remote: true%>
<br>


    <div id="recievedfile">
    </div>

