
<table border="2">
	<tr>
		<th>Project_Name</th>
		<th>Task</th>
	</tr>

	
	<tr>
		<td><%= @project.name%></td>
		<td><%= @project.task%></td>
	</tr>

</table>

<%= link_to 'All project Display', projects_path%>

	