<!DOCTYPE html>
<html>
	<body>

		<form>
			<table border="2" align="center" bgcolor="orange">
				<font color="white"><h1 align="center">Student login</h1></font>
				<tr><td><b><label><font color="black">Username: </font>
		
				<input type="text" name="username" id="username" />
				</label></b></td></tr><tr><td>
	
				<b><label for="password">
				<font color="black">Password:  </font>
				<input type="password" name="password" id="password"/></b></label>	
				</td></tr><tr><td><button type="submit"><b>Login</b></button>
				<b><button type="submit"><b>Clear</b></button></td></tr>
			</table>


		</form>


	</body>
</html>