
<table border="1">
  <tr>
    <th>Bank Name:</th>
    <th>Account Number:</th>
    <th>Salary:</th>
   </tr>
   <% @detail.banks.each do |g| %>
   <tr>
    <td><%= g.bankName %></td>

<td><%= g.accountNo %></td>

<td><%= g.salary %></td>


</tr>

<%end%>
</table>