<h1>STUDENT CRUD OPERATION USING AJAX</h1>

<%= link_to 'INSERT STUDENT DETAILS',students_stud_insert_form_path,remote:true%><br>

<%= link_to 'SHOW STUDENT DETAILS',students_stud_show_form_path,remote:true%><br>

<div id="insert"></div>
<div id="show"></div>
<div id="update"></div>


